.element__like {
  width: 22px;
  height: 19px;
  border: none;
  background: url(../../../images/like.svg) center no-repeat;
  background-size: 100%;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
  transition: 0.3s;
}

.element__like:hover {
  transform: scale(1.3);
  opacity: 0.5;
}

.element__like_active {
  background: url(../../../images/like_active.svg) center no-repeat;
}