.profile-info__edit {
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  background: url(../../../images/edit.svg) center no-repeat;
  cursor: pointer;
  position: absolute;
  top: 14px;
  right: -42px;
  opacity: 1;
  transition: 0.3s;
}

.profile-info__edit:hover {
  opacity: 0.5;
}

@media (max-width: 613px) {
  .profile-info__edit {
    width: 18px;
    height: 18px;
    top: 10px;
    right: -28px;
  }
}